body
{
    background-image: linear-gradient(363deg, rgb(191,230,251) 0%,rgb(64,140,248) 100%),linear-gradient(293deg, rgb(64,140,248),rgb(226,233,240));
}
legend
{
    background-color: #5291f6;
    padding: 10px;
    }
fieldset
{
    background-color: #98bdfa;
    border-color: #4d4cec;
    width:507px;
    height: 249px;
    position: relative;
}
input[type='text']
{
    position: relative;left: 100px;
}
input[type='number']
{
    position: relative;left: 70px;
}
input
{
    height: 24px;
    width: 250px;
}
button
{
    cursor: pointer;
    color: white;
    background-color: #301f8f;
    border-radius: 7px;
    margin: 7px;
    border: black solid 2px;
    padding: 7px;
    text-align: center;
    width: 230px;
}
