*
{
    margin: 5px;
}
.head1
{
    border: solid 3px #5a57b2;
    border-radius: 10px;
}
.head1 .head2
{ 
    display: flex;
    align-items:center;
}
.head3
{
    color: #d47b7b;
}
.head4
{
    color: #5f3faa;
}